.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;

    button {
      color: black;
      font-size: 30px;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover{
        color: rgb(209, 209, 209);
      }

      &:active{
        top: 1px;
      }

      @media (max-width: 500px) {
        font-size: 25px;
      }
    }

    #flyoutMenu {
      width: 20vw;
      height: 100vh;
      background-color: rgb(233, 233, 233);
      position: fixed;
      border-left: slategray;
    //   font-family: $main-font;
      font-weight: bolder;
      top: 0;
      right: 0;
      box-shadow: -5px 0px 10px 0px #5f5f5f;
      transition: transform .4s
                  cubic-bezier(0, .52, 0, 1);
      z-index: 1000;

      @media (max-width: 500px) {
        width: 50vw;
      }
    }

    #flyoutMenu.hide {
      transform: translate3d(25vw, 0, 0);

      @media (max-width: 500px) {
        transform: translate3d(55vw, 0, 0);
      }
    }
     
    #flyoutMenu.show {
      transform: translate3d(0vw, 0, 0);
      overflow: hidden;
    }

    .dropdown-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      list-style: none;
      width: 100%;

      @media (max-width: 500px) {
        right: 40px;
        width: 120px;
      }
  
      li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        // font-family: $main-font;
        align-items: center;
        font-size: 50px;
        
        .logout {
          cursor: pointer;
        }
      }

      li:hover {
        background-color: #f3f3f3;
      }

      .dropdown-btn {
        color: black;
        text-decoration: none;
        font-size: 30px;
        height: 100px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-bottom: solid 2px $red-main;
      }
    }
  }